body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align child elements */
}

input[type="text"] {
  width: calc(100% - 24px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
input[type="date"] {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: calc(100% - 24px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
   
}

button {
  width: 80%; /* Make the button fill the width */
  max-width: 150px; /* Optional: set a max width if you want to control the size */
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  flex-direction: column;
  margin-top: 10px; /* Add some space above the button */
  text-align: center; /* Center the text inside the button */
}

button:hover {
  background-color: #999;
}
.task-info{
  margin-right: 10px;
  padding-right: 50px;
  max-width: fit-content;
}
.task-info span {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 18px; 
  font-weight: bold; 
  color: #333;  
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #f9f9f9;
  padding: 100px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed span {
  text-decoration: line-through;
  color: #999;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

li button {
  background-color: #dc3545;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

li button:hover {
  background-color: #c82333;
}
.urgency-level {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

.urgency-level strong {
  color: #000;
}

.urgency-level::before {
  content: "⚠️ ";
  color: orange;
}
 